$tile-size: 110px;
$primary-color: coral;
$secondary-color: #ffe2b5;
$font-color: #703535;

body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  font: 100% Helvetica, sans-serif;
  color: $font-color;
  font-size: 160%;
}

.container {
  margin-top: 80px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.grid-container {
  $padding: 10px;
  margin: 40px 5px;
  padding: $padding;
  border-radius: 6px;
  background-color: $primary-color;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  position: relative;

  .grid-cell {
    width: $tile-size;
    height: $tile-size;
    border-radius: 3px;
    background-color: $secondary-color;
  }

  .player {
    @extend .grid-cell;
    text-align: center;
    line-height: $tile-size;
    position: absolute;
    left: $padding;
    bottom: $padding;
    background-color: lightsalmon;
  }
}