$tile-size: 110px;
$primary-color: #f9e6cc;
$secondary-color: #c4957f;
$secondary-color-hover: #f49866;
$font-color: #703535;

body {
  margin: 0;
  padding: 0;
  background-color: #f7f0e8;
  font-family: 'Nunito', sans-serif;
  color: $font-color;
  font-size: 20px;
}

h1, strong, .grid-cell, .button {
  font-family: 'Bungee', cursive;
}

.button {
  border-radius: 6px;
  padding: 0 10px;
  background-color: $primary-color;
  border: 3px solid $secondary-color;
  font-size: 0.95em;
  display: inline-block;
  transition: all .3s;
}

.button:hover {
  cursor: pointer;
  background-color: $secondary-color-hover;
}

.container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.game-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-container {
  $padding: 10px;
  margin: 40px 5px;
  padding: $padding;
  border-radius: 6px;
  background-color: $secondary-color;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  position: relative;
  font-size: 1.2em;

  .grid-cell {
    width: $tile-size;
    height: $tile-size;
    border-radius: 3px;
    text-align: center;
    line-height: $tile-size;
    background-color: $primary-color;
  }

  .player {
    @extend .grid-cell;
    position: absolute;
    left: $padding;
    bottom: $padding;
    background-color: #f49866;
  }
}